name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Create build directory
      run: mkdir build
    - name: Configure CMake
      run: cmake -S . -B build
       # Add any necessary CMake options here, e.g., -DCMAKE_BUILD_TYPE=Release
    - name: Build
      run: cmake --build build --verbose
    - name: Test
      run: |
        cd build
        ctest -V --output-on-failure
